{% extends 'base.html.twig' %}

{% block title %}{{ editMode ? 'Modifier' : 'Ajouter' }} un Santon{% endblock %}

{% block body %}
    <div class="home-content">
        <div class="contact-form-container">
            <h2>{{ editMode ? 'Modifier' : 'Ajouter' }} un Santon</h2>

            {{ form_start(form,{'attr': {'class': 'form'}}) }}
                <div class="form-group">
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.descriptionDetaillee) }}
                    {{ form_widget(form.descriptionDetaillee, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.valeurEstimee) }}
                    {{ form_widget(form.valeurEstimee, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.imageFile) }}
                    {{ form_widget(form.imageFile, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.region) }}
                    {{ form_widget(form.region, {'attr': {'class': 'form-input'}}) }}
                </div>
                <button type="submit" class="voir-plus ">
                    {{ editMode ? 'Mettre à jour' : 'Ajouter' }}
                </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
