{% extends 'base.html.twig' %}

{% block title %}{{ editMode ? 'Modifier' : 'Ajouter' }} un Santon{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2>{{ editMode ? 'Modifier' : 'Ajouter' }} un Santon</h2>

        {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.descriptionDetaillee) }}
                {{ form_widget(form.descriptionDetaillee, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.valeurEstimee) }}
                {{ form_widget(form.valeurEstimee, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.imageFile) }}
                {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.region) }}
                {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
            </div>
            <button type="submit" class="btn btn-primary mt-3">
                {{ editMode ? 'Mettre à jour' : 'Ajouter' }}
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
