<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Les Santons{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        {{ encore_entry_link_tags('app') }}
    </head>
    <body class="site-body">
        <header class="site-header">
        <a class="logo" href="{{ path('app_home') }}"><img src="{{ asset('graal.png') }}" alt="logo"></a>
            <button class="burger-menu" aria-label="Menu">
                <div class="shield">
                    <span class="shield-top"></span>
                    <span class="shield-middle"></span>
                    <span class="shield-bottom"></span>
                </div>
                <div class="bow">
                    <span class="bow-arc"></span>
                    <span class="bow-arrow"></span>
                </div>
            </button>
            <nav class="main-nav">
                <ul class="nav-list">
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li><a href="{{ path('app_galerie') }}">Galerie</a></li>
                    <li><a href="{{ path('app_santon_set_create') }}">Créer un set</a></li>
                    <li><a href="{{ path('app_contact') }}">Contact</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('add_santon') }}">Ajouter un Santon</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin') }}">Dashboard Admin</a></li>
                        {% endif %}
                        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Connexion</a></li>
                        <li><a href="{{ path('app_register') }}">Inscription</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main class="site-main">
            {% block body %}{% endblock %}
        </main>
        <footer class="site-footer">
            <p>Coordonnées : Le Château de Pellefort, 26570 Saint-Agnan-en-Vercors</p>
            <p>Missa brevis et spiritus maxima ! Ça ne veut rien dire, mais ça donne le ton ! <br><br> Copyright © 2023 Bambam</p> 
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>