{% extends 'base.html.twig' %}

{% block title %}Galerie des Santons{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2>Galerie des Santons</h2>
        <div class="latest-santons-container">
            {% for santon in santons %}
                <div class="santon-card-home">
                    <img src="{{ vich_uploader_asset(santon, 'imageFile') }}" class="img" alt="{{ santon.nom }}">
                    <div class="santon-info">
                        <h3>{{ santon.nom }}</h3>
                        <p>{{ santon.extrait }}</p>
                        <a href="{{ path('show_santon', { id: santon.id }) }}" class="voir-plus">Voir plus</a>
                    </div>
                </div>
            {% else %}
                <p>Aucun Santon pour le moment.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}